{% extends 'partials/base.html.twig' %}

{% set show_onpage_menu = header.onpage_menu == true or header.onpage_menu is null %}
{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}
{% endmacro %}

{% block hero %}
    {% for module in page.collection()if module.template == 'modular/hero' %}
        <div id="{{ _self.pageLinkName(module.menu) }}"></div>
        {{ module.content }}
    {% endfor %}
{% endblock %}

{% block content %}

        <div class="columns is-multiline is-centered">
            <div class="column is-10 is-8-desktop">
                {{page.content}}
            </div>
            {% for module in page.collection()if module.template != 'modular/hero' %}
                <div class='column is-10 is-8-desktop' id="{{ _self.pageLinkName(module.menu) }}">
                    {{ module.content }}
                </div>
            {% endfor %}
        </div>

{% endblock %}
