<nav-bar inline-template>
    <section class="section">
        <div class=" columns is-centered">
            <div class="column is-10 is-8-desktop">

                <nav class="navbar" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                        {% set image_parts = pathinfo(grav.theme.config.theme.logo) %}
                        <a class="navbar-item" href="{{ base_url == '' ? '/' : base_url }}">
                            {% if image_parts.length > 0 %}
                                <object class='logo' type='image/svg+xml' data="{{ url('theme://assets') }}/{{ image_parts.basename }}" alt="{{ site.title }} image">{{site.title}}</object>
                            {% else %}
                                {{ config.site.title }}
                            {% endif %}
                        </a>

                        <div class="navbar-burger" :class="{'is-active': navIsActive}" @click.prevent="toggleNav()">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    <div class="navbar-menu" :class="{'is-active': navIsActive}">
                        {% block header_navigation %}
                            {% include 'partials/navigation.html.twig' %}
                        {% endblock %}
                    </div>

                </nav>
            </div>
        </div>
    </section>
</nav-bar>
